<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
   <div class="m-header">
      <a href="javascript:" class="b-brand">
        <img src="assets/images/StarAssurance2.png" alt="theme-logo" class="logo logo-dark logo-lg" />
      </a>
    </div>
  <a class="navbar-brand ps-3" routerLink=""></a>     <!-- Title-->
  
  <!-- Sidebar Toggle
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  -->
  
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
          <!--<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" /> 
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> -->
      </div>
  </form>


  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" *ngIf="isAuthenticated()">
      <a class="nav-link" routerLink="/">
        {{ userDisplayName }}
      </a>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <!--  <li><a class="dropdown-item" href="#!">Settings</a></li>
              <li><a class="dropdown-item" href="#!">Activity Log</a></li>
              <li><hr class="dropdown-divider" /></li>  -->
              <li><a class="dropdown-item" href="#" (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
          </ul>
      </li>
  </ul>
  
  <!-- Login link for non-authenticated users -->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" *ngIf="!isAuthenticated()">
      <li class="nav-item">
          <a class="nav-link" routerLink="/login">
              <i class="fas fa-sign-in-alt"></i> Se connecter
          </a>
      </li>
  </ul>
</nav>